


html {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  height: 100%;
}

td {
    padding:0 15px 15px 15px;
}

.unbreakable {
    white-space: nowrap;
}

.datoOK {
    color : green; 
    font-size : 120%; 
    font-weight : bold; 
}

.datoFeil {
    color : red; 
    font-size : 80%; 
    font-weight : bold; 
}


tr.idag_FUBAR { 
 color : #dd42f5; 
 font-weight : bold; 
} 

tr.idag {  
 font-weight : bold; 
 font-size : 120%; 
} 

.kommentar { 

  color : blue;
  font-weight : bold; 
  font-style : italic;
    

}

.fremhev { 

  color : red;
  font-weight : bold; 
  font-size : 120%; 
  

} 

tr.forrige { 
    font-weight : normal; 
    font-style : italic; 
    color: #7c747d; 
}

tr.gammalt { 
    font-weight : normal; 
    font-style : italic; 
    color: #7c747d; 
}


tr.fremhevidag { 
  color : red;
  font-weight : bold; 
  font-size : 120%; 

} 

.leaflet-container {
     cursor: crosshair;
   }

.myButton {
  background-color : #4CAF50;
  padding: 10px 20px;
} 

.myButton2 {
  background-color : #77B8F9;
  padding: 5px 10px;
} 


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.map{ z-index:1; }
.modal{ z-index:2; }